
<aside class="main-sidebar .sidebar-collapse sidebar-dark-primary elevation-4" style="top:65px;">

    <div class="sidebar" *ngFor="let e of employes2">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div >
        <img src="http://localhost:5000/employe/image/{{e.images.url}}" routerLink="/dashboard_emp/information"class="img-circle"  alt="User Image">
      </div>
        <div class="info"> 
          <a routerLink="/dashboard_emp/profile"class="d-block">{{e.nom}}  {{e.prenom}}</a>
        </div>
      </div>
   
      <!-- Sidebar Menu --> 
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
  
          <li class="nav-item menu-open">
            
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/dashboard_emp/information" class="nav-link">
                  <i class="fa fa-tachometer" aria-hidden="true"></i>
                  <p>     Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard_emp/profile" class="nav-link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <p>     Profile </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard_emp/annonce_emp" class="nav-link">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                  <p>     Annonce </p>
                </a>
              </li>
           
              
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard_emp/conge_emp" class="nav-link">
              <i class="fa fa-th-list" aria-hidden="true"></i>
  
              <p>   Congés</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard_emp/meeting_emp" class="nav-link">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <p>     Réunions </p>
            </a>
          </li>
           
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  