
          
          
          <div class="container2">
           
            <form [formGroup]="employeForm" class="form-panel">
              <div class="con1">
              <div class="card card-container">
                <!-- <h2  >Ajouter un employé</h2> -->
                
                <div class="login-wrap">
                  <div class="form-row"> 
                   
                    <div class="col-6">
                      <label  >Nom</label>
                      <input type="text" id="nom" formControlName="nom" class="form-control "  placeholder="nom"   [ngClass]="{ 'is-invalid': submitted && employeForm.controls['nom'].errors }">
                      <div *ngIf="submitted && employeForm.controls['nom'].errors" class="invalid-feedback">
                        <div *ngIf="employeForm.controls['nom'].errors['required']">ce champ est obligatoire</div></div>
                    </div>
                    <br>
              
                    <div class="col-6">
                      <label for="inputName"> Prenom</label>
                      <input type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="prenom" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['prenom'].errors }">
                      <div *ngIf="submitted && employeForm.controls['prenom'].errors" class="invalid-feedback">
                        <div *ngIf="employeForm.controls['prenom'].errors['required']">ce champ est obligatoire</div></div>
                    </div>
              
                  </div>
                  <div class="form-row">
                   
                  <div class="col-6">
                    <label for="cin" >Cin</label>
                    <input type="number" id="cin" class="form-control" placeholder="Cin" formControlName="cin"[ngClass]="{ 'is-invalid': submitted && employeForm.controls['cin'].errors }">
                    <div *ngIf="submitted && employeForm.controls['cin'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['cin'].errors['required']">ce champ est obligatoire</div>
                      <div *ngIf="employeForm.controls['cin'].errors && !employeForm.controls['cin'].errors['required']">CIN doit comporter  8 caractères.</div></div>
                    
                   
                  </div>
                  <br>
            
                  <div class="col-6">
                    <label >Date_Nais</label>
                    <input type="date"  formControlName="date_nais" class="form-control" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['date_nais'].errors }">
                    <div *ngIf="submitted && employeForm.controls['date_nais'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['date_nais'].errors['required']">ce champ est obligatoire</div></div>
                  </div>
            
                </div>
                  
                  <div class="form-row">
                  <div class="col-6">
                    <label>Tel</label>
                    <input type="number" id="tel" formControlName="tel" class="form-control" placeholder="Num tel"  [ngClass]="{ 'is-invalid': submitted && employeForm.controls['tel'].errors }">
                    <div *ngIf="submitted && employeForm.controls['tel'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['tel'].errors['required']">ce champ est obligatoire</div>
                      <div *ngIf="employeForm.controls['tel'].errors && !employeForm.controls['tel'].errors['required']">tel doit comporter au moins 8 caractères.</div></div>

                    
                  </div>
                  <br>
                  <div class="col-6">
                    <label  >Adresse</label>
                    <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['adresse'].errors }">
                    <div *ngIf="submitted && employeForm.controls['adresse'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['adresse'].errors['required']">ce champ est obligatoire</div></div>
                  </div>
                </div>
                <div class="form-row">
                   
                  <div class="col-6">
                    <label >Salaire</label>
                    <input type="number" id="salaire" formControlName="salaire" class="form-control" placeholder="salaire" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['salaire'].errors }">
                    <div *ngIf="submitted && employeForm.controls['salaire'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['salaire'].errors['required']">ce champ est obligatoire</div>
                      <div *ngIf="employeForm.controls['salaire'].errors && !employeForm.controls['salaire'].errors['required']">le salaire doit supérieur de 480</div></div>
                  </div>
                  <br>
            
                  <div class="col-6">
                    <label for="inputName" >Role</label>
                    <input type="text" id="inputrole" formControlName="role" class="form-control" placeholder="role" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['role'].errors }">
                    <div *ngIf="submitted && employeForm.controls['role'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['role'].errors['required']">ce champ est obligatoire</div></div>
                  </div>
             
                </div>
                
                <div class="form-row">
                   
                  <div class="col-6">
                    <label for="email" >Email</label>
                    <input type="text"  placeholder="email" class="form-control " [ngClass]="{ 'is-invalid': submitted && employeForm.controls['email'].errors }" formControlName="email" >
          <div *ngIf="submitted && employeForm.controls['email'].errors" class="invalid-feedback">
            <div *ngIf="employeForm.controls['email'].errors['required']">ce champ est obligatoire</div>
            <div *ngIf="employeForm.controls['email'].errors && !employeForm.controls['email'].errors['required']">S'il vous plaît, mettez une adresse email valide</div></div>
                  </div>
                  <br>
            
                  <div class="col-6">
                    <label for="exampleInputPassword1" >Password</label>
                    <input type="password" formControlName="password"  class="form-control" id="exampleInputPassword1" placeholder="mot de passe" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['password'].errors }">
                    <div *ngIf="submitted && employeForm.controls['password'].errors" class="invalid-feedback">
                      <div *ngIf="employeForm.controls['password'].errors['required']">ce champ est obligatoire</div>
                      <div *ngIf="employeForm.controls['password'].errors && !employeForm.controls['password'].errors['required']"> Name must be at least 5 characters long.</div></div>
                  </div>
            
                </div>
                <br>
                 <label style="margin-left: 320px;" for="inputName" class="col-sm-2 col-sm-2 control-label">Genre</label>
                 <br>
                 <div class="form-row">
                   
                  <!-- <div class="col-6"> -->
                    <div  class="form-check" style="margin-left: 200px;">
                      <input class="form-check-input" type="radio" formControlName="genre" value="Homme" id="Homme" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['genre'].errors }">
               
                    <label for="flexRadioDefault1">
                      Homme
                    </label>
 
                  <!-- </div> -->
                  </div>
                  <br>
                  
                  <!-- <div class="col-6"> -->
                    <div class="form-check" style="margin-left: 180px;">
                      <input class="form-check-input" type="radio"  formControlName="genre"  value="Femme" id="Femme"  [ngClass]="{ 'is-invalid': submitted && employeForm.controls['genre'].errors }">
                      <label class=" control-label" for="flexRadioDefault2">
                       Femme
                      </label> 
     
                    </div>
                 
             
                </div>
             
                    <br>                    
                    <button class="btn btn-theme btn-block"  type="submit" (click)="submitEmploye()" > Ajouter</button>
                  
            
                  
                </div>
                
            
                
            
              </div>
            </div>
            
            </form></div>

       