<!-- <div class="row mx-3">
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-sm-8 col-md-6 col-lg-4 mt-5" >
        <form class="p-2 rounded-3"(ngSubmit)="submit()" [formGroup]="ResetPasswordForm"  >
            <h3 class="text-center">Reset Password</h3>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['password'].errors }" formControlName="password" >
                <div *ngIf="submitted && ResetPasswordForm.controls['password'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['password'].errors['required']">Password is required</div>
                    <div *ngIf="ResetPasswordForm.controls['password'].errors && !ResetPasswordForm.controls['password'].errors['required']">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['confirm'].errors }" formControlName="confirm" >
                <div class="form-text text-danger text-center">{{error}}</div>
                <div *ngIf="submitted && ResetPasswordForm.controls['confirm'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors['required']">Password is required</div>
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors && !ResetPasswordForm.controls['confirm'].errors['required']">Confirm password must be at least 6 characters</div>
                </div> 
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary ">Reset Password</button>
            </div>
        </form> 
    </div>
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
</div> -->

<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container">
   
        <div class="row justify-content-center">
  
          <div class="col-xl-5 col-md-8">
            <form (ngSubmit)="submit()" [formGroup]="ResetPasswordForm" class="bg-white  rounded-5 shadow-5-strong p-5">
             
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example1">Mot de passe</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['password'].errors }" formControlName="password" >
                <div *ngIf="submitted && ResetPasswordForm.controls['password'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['password'].errors['required']">Mot de passe requis</div>
                    <div *ngIf="ResetPasswordForm.controls['password'].errors && !ResetPasswordForm.controls['password'].errors['required']">Le mot de passe de confirmation doit contenir au moins 6 caractèresPassword must be at least 6 characters</div>
                </div>
              </div>
   
             
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example2">Confirmez le mot de passe</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['confirm'].errors }" formControlName="confirm" >
                <div class="form-text text-danger text-center">{{error}}</div>
                <div *ngIf="submitted && ResetPasswordForm.controls['confirm'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors['required']">Mot de passe requis</div>
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors && !ResetPasswordForm.controls['confirm'].errors['required']">Le mot de passe de confirmation doit contenir au moins 6 caractères</div>
                </div>   
              </div>
  
             
  
              <!-- Submit button -->
             
              <button type="submit" class="btn btn-primary btn-block" >réinitialiser le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Background image -->