
  <div class="container">
    <h4 style="margin-top: 48px;"><i class="fa fa-angle-right"></i> Liste des annonces</h4>
    <div class="container2">
      <div *ngIf="annonces.length==0; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <h1 >Vous n'avez aucune annonce.</h1>
      </ng-template>
      <ng-template #elseBlock>
    <table class="table table-striped" >
      <thead class="thead-inverse">
    
        <tr>
          <th scope="col">Annonce</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of annonces">
        <td>  <div class="card" >
            <div class="card-body">
              <h2 class="card-title" style="font-weight: bolder;">{{e.titre}}</h2>
              <p class="card-text"> {{e.sujet}}</p>
              <h6 class="card-title" style="font-style: normal;" >Annonce ajouté le  {{e.date}}</h6>
            </div>
          </div>
        </td>
      
        </tr>
         </tbody>
      
    </table>
  </ng-template>
    </div> 
  </div>
