<div class="container" >
    <div class="d-flex justify-content-end " style="margin-top:12px">
        <button mat-raised-button  class=" btn my-2 my-sm-0" routerLink="/dashboard_admin/pwd" >Paramètre avancée</button>
    </div>
    
   
        
    <div class="row">

        
        <div class="col-lg-1"></div>

        <div class="col-lg-6">
            <div id="ui">
                <form [formGroup]="employeForm" class="form-panel">
                <h3><i class="fa fa-angle-right"></i> Informations personnelles</h3>
                <br>
<!--                      
                <div class="row">
                    <div class="col-lg-6">
                        <label for="fname">Prénom</label>
                        <input type="text" name="prenom" class="form-control"formControlName="prenom" placeholder="nom"   [ngClass]="{ 'is-invalid': submitted && employeForm.controls['prenom'].errors }">
                        <div *ngIf="submitted && employeForm.controls['prenom'].errors" class="invalid-feedback">
                          <div *ngIf="employeForm.controls['prenom'].errors['required']">ce champ est obligatoire</div></div>
                    </div>

                    <div class="col-lg-6">
                        <label for="fname">Nom</label>
                        <input type="text" name="nom" class="form-control" formControlName="nom" placeholder="nom"   [ngClass]="{ 'is-invalid': submitted && employeForm.controls['nom'].errors }">
                        <div *ngIf="submitted && employeForm.controls['nom'].errors" class="invalid-feedback">
                          <div *ngIf="employeForm.controls['nom'].errors['required']">ce champ est obligatoire</div></div>
                    </div>
                </div> -->
                <div class="row"> 
                    <!-- <div class="col-lg-6">
                        <label for="fname">CIN</label>
                <input type="number" name="cin" class="form-control" formControlName="cin"  [ngClass]="{ 'is-invalid': submitted && employeForm.controls['cin'].errors }">
                <div *ngIf="submitted && employeForm.controls['cin'].errors" class="invalid-feedback">
                  <div *ngIf="employeForm.controls['cin'].errors['required']">ce champ est obligatoire</div>
                  <div *ngIf="employeForm.controls['cin'].errors && !employeForm.controls['cin'].errors['required']">CIN doit comporter au moins 8 caractères.</div></div>
                 -->
                    <!-- </div> -->
             <div class="col-lg-6">
                <label for="fname">email</label>
                <input type="text" name="email" class="form-control" formControlName="email"[ngClass]="{ 'is-invalid': submitted && employeForm.controls['email'].errors }" formControlName="email" >
                <div *ngIf="submitted && employeForm.controls['email'].errors" class="invalid-feedback">
                  <div *ngIf="employeForm.controls['email'].errors['required']">ce champ est obligatoire</div>
                  <div *ngIf="employeForm.controls['email'].errors && !employeForm.controls['email'].errors['required']">S'il vous plaît, mettez une adresse email valide</div></div>
            </div>
        </div>
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <label for="fname">Date de naissance</label>
                        <input type="date" name="date" class="form-control" formControlName="date_nais"  [ngClass]="{ 'is-invalid': submitted && employeForm.controls['date_nais'].errors }">
                        <div *ngIf="submitted && employeForm.controls['date_nais'].errors" class="invalid-feedback">
                          <div *ngIf="employeForm.controls['date_nais'].errors['required']">ce champ est obligatoire</div></div>
                    </div> -->

                    <div class="col-lg-6"  >
                        <label for="fname">Tél</label>
                        <input type="number" name="tel"  class="form-control" formControlName="tel" [ngClass]="{ 'is-invalid': submitted && employeForm.controls['tel'].errors }">
                        <div *ngIf="submitted && employeForm.controls['tel'].errors" class="invalid-feedback">
                          <div *ngIf="employeForm.controls['tel'].errors['required']">ce champ est obligatoire</div>
                          <div *ngIf="employeForm.controls['tel'].errors && !employeForm.controls['tel'].errors['required']">tel doit comporter au moins 8 caractères.</div></div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-lg-6"  >
                        <label for="fname">Adresse</label>
                        <input type="text" name="adresse" class="form-control" formControlName="adresse"  [ngClass]="{ 'is-invalid': submitted && employeForm.controls['adresse'].errors }">
                        <div *ngIf="submitted && employeForm.controls['adresse'].errors" class="invalid-feedback">
                          <div *ngIf="employeForm.controls['adresse'].errors['required']">ce champ est obligatoire</div></div>
                     </div>
                         
                    
                   
                </div>
                <br>
              
                <button type="submit"  class="btn" (click)="update()">
                    Enregistrer les modification
                  </button>
            </form>
            </div>

        

    </div>

    

    </div>
    
   
  </div> 
 