<div class="d-flex justify-content-end " style="margin-top:12px">
    <button mat-raised-button  class=" btn1 my-2 my-sm-0" data-bs-toggle="modal"
    data-bs-target="#exampleModal1">Ajouter Annonce</button>
</div>
 
 
  <div class="container">
    <div *ngIf="annonces.length==0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <h1 >Vous n'avez aucune annonce.</h1>
    </ng-template>
    <ng-template #elseBlock>
    <h4><i class="fa fa-angle-right"></i> Liste des annonces</h4>
    
 
    <div class="container2">
    <table class="table table-striped">
      <thead class="thead-inverse">
    
        <tr>
          <th scope="col">Annonce</th>
          <th scope="col">Action</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of annonces">
        <td>  <div class="card" >
            <div class="card-body">
              <h2 class="card-title" style="font-weight: bolder;">{{e.titre}}</h2>
              <p class="card-text"> {{e.sujet}}</p>
              <h6 class="card-title" style="font-style: normal;" >Annonce ajouté le  {{e.date}}</h6>
            </div>
          </div>
        </td>
        <td>
            <div >
              <button mat-raised-button class="action-button btn-info" data-bs-toggle="modal" (click)="reset(e)"
                data-bs-target="#exampleModal3"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button mat-raised-button class="action-button btn-danger" data-bs-toggle="modal"
                data-bs-target="#exampleModal2" aria-hidden="true" (click)="reset(e)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
                  
  <!-- modal de supp -->
              <div class="modal" id="exampleModal2" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
  
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      êtes-vous sûr de vouloir supprimer
                    </div>
  
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
  
                      <button type="button" class="btn btn-danger" aria-label="Close" data-bs-dismiss="modal"
                        (click)="delete()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
         </tbody>
      
    </table> 
    </div> 
  </ng-template>
  </div>


       <!-- moadal d'ajoute -->
       <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <form [formGroup]="annonceaForm"class="form-panel">
        
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label" >Titre</label>
                <div class="col-sm-10">
                  <input type="text"  name="titre" id="titre"  formControlName="titre" placeholder="titre">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label" >Sujet</label>
                <div class="col-sm-10">
                  
                  <textarea  name="sujet" id="sujet" formControlName="sujet"  placeholder="sujet" rows="4" cols="51">
                    
                    </textarea>
                </div>
              </div> 
         
               
               
            </form> 
            
            <div class="modal-footer">
              <div class="click">
                <button _ngcontent-roy-c3="" 
                      class="btn1 my-2 my-sm-0" 
                      type="submit" 
                      (click)="ajouteannonce()"  data-bs-dismiss="modal">Ajouter</button>
                <button _ngcontent-roy-c3="" 
                      class="btn1  my-2 my-sm-0" 
                      type="submit" data-bs-dismiss="modal"
                      >Annuler</button>
              
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- modal de mise ajour -->
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="annonceForm"class="form-panel">
                  
                        <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label" >Titre</label>
                          <div class="col-sm-10">
                            <input type="text"  name="titre" id="titre"  formControlName="titre" placeholder="titre">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label" >Sujet</label>
                          <div class="col-sm-10">
                            
                            <textarea  name="sujet" id="sujet" formControlName="sujet"  placeholder="sujet" rows="4" cols="51">
                              
                              </textarea>
                          </div>
                        </div> 
                      
                        
                     
                         
                      </form> 
            </div>
    
            <div class="modal-footer">
              <button type="submit" data-bs-dismiss="modal" (click)="mise()"  class="btn1  my-2 my-sm-0"  >
                Enregistrer les modifications
              </button>
            </div>
          </div>
        </div>
      </div>
    