.container{
  margin-left: 300px;
  width: 75%;

}
table,h1{
   
    
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 10px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    margin-top: 3rem;
   
  
   }
   td , th,h1{
    padding: 15px 20px;
    text-align: center;
    font-size: 16.5px;
    
   
   }
   th,h1{
    background-color: #4ECDC4;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    
   
   }
   
   td{
       margin-top: 10%;
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }
   
   .container2 {
    height: 500px;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    width: 4px;
  }
  .container::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  input {
    width: 100%;
  }
  .container::-webkit-scrollbar-thumb {
    background: #090c0c;
    border-radius: 4px;
  }
   