
<app-navbar></app-navbar>

<div class="container"  >
  <div class="row" style="width: 600px;margin-top: 5%;margin-left: 300px;" >
    <div
      class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
    >
      <div class="col ml-3">
        <div>
          <p class="text-start">
            <span style="font-size: 28pt;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
              >    <img src="assets/logorh2.png" alt=" Logo rh"  >
              , est un espace qui relie les employés, les candidats et l’entreprise . . .</span
            ><br />
            <span style="font-size: 17pt;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
              Si vous êtes à la recherche d’un emploi ou un stage, vous pouvez postuler à notre entreprise en accédant à ce lien</span
            >
          </p>
        </div>

        <div>
          <button
            
            type="button" color="indigo" class="buttonText" mdbWavesEffect  routerLink="/condidat">
            Postuler
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm d-flex justify-content-center ">
      <img src="assets/logorh.png" width="553" height="250" style="margin-top: 70px;" />
    </div> -->
  </div>
</div>